p9{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size:180%;
  
  text-align: center;
}

h7{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size:180%;
   
}

img{
  border-radius:7px;
}

h2{
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size:120%;
}


body{
  background: #C0C0;
}

ul {
    list-style-type: none;
    margin: 0 auto;
  padding: 0px 3px;
    overflow: inherit;
font-family: 'Century Gothic', CenturyGothic, AppleGothic, bold;
  width: 100%;
  
  
}

li {
    float: left;
   border-right:1px solid #bbb;
  
   width:110px;
  background-color:lavender;
  
}

li a {
    display: block;
  color: indigo;
    text-align: center;
    padding: 75px 1px;
 text-decoration: none;
  font-size:105%;
 
}


li a:hover {
    background-color: ghostwhite;
}


li:last-child {
    border-right: none;
}




div{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size:90%;
  text-align:center;
}

p8{
  color:indigo;
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size:120%;
}