

img{ 
position: relative;
  border-radius:10px;
}



h2{
  font-family: "Arial", Georgia, Bold;
}


h6{
   position: fixed;
}
body{
  background: lightgray;
}

ul {
    list-style-type: none;
    margin: 0 auto;
  width:850px;
    padding: 10;
    overflow: hidden;
    background-color: lightgray;
  font-family: "Arial Black", Georgia, Bold;
  font-size:130%;
  border-radius:10px;
  
}

li {
    float: left;
  margin: auto;
}

li a {
    display: block;
  font-family: "Capitals", Georgia, Bold;
    color: indigo;
    text-align: center;
    padding: 20px 16px;
   margin: auto;
  border-radius:10px;
  font-size:90%;
}


li a:hover {
    background-color: gray;
}
.active {
    background-color: black;
}

h9{
  font-size:200%;
}
