

h2{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size:120%;
}


h6{
   position: fixed;
}
body{
  background:#C0C0;
}

ul {
 list-style-type: none;
    margin: 0 auto;
  padding: 0px 3px;
    overflow: inherit;
font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  width: 100%;
}

li {
    float: left;
   border-right:1px solid #bbb;
  width:110px;
  background-color:lavender;
}

li a {
   display: block;
  color: indigo;
    text-align: center;
    padding: 75px 1px;
 text-decoration: none;
  font-size:105%;
}


li a:hover {
    background-color: ghostwhite;
}

li:last-child {
    border-right: none;
}

h7{
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size:180%;
}

img{ 
position: relative;
  border-radius:10px;
}

div{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size:90%;
  text-align:center;
}